body{
    font-family: 'Redressed', cursive;
}
a{
    all: unset;
    text-transform: none;
    
}



 .btn{
  border:1px solid rgb(193 0 0) ;
  padding: 10px 15px;
  font-size: 22px;
  margin-top:8px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
  .btn a {
 color: rgb(193 0 0);
   }
  

   .btn i{
    color: rgb(193 0 0);
    font-size: 20px;
    margin-left: 5px;
   }
  .btn:hover {
    border:1px solid white ;
    background-color: rgb(193 0 0);
    transition: 0.3s;
    color: white;
   }
   .btn:hover a {
   
    transition: 0.3s;
    color: white;
   }
    .btn:hover i{
    transition: 0.3s;
   color: white;
   }


@media (max-width:500px) {
  
        .btn {
        margin: 0 auto;
        padding: 5px 9px;
        font-size: 17px;
        margin-top:8px ;
      
       }
      
    
    
}

.title{
 display: flex;
 flex-direction: column;
 margin: 40px 0;
 align-items: center;
} 
.title p{
  font-size: 24px;
  color: #dc3545;
 } 
 .title h2{
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 } 
 .anomation1 {
   z-index: -5;
   opacity: 0.5;
   overflow: hidden;
   position: absolute;
   left: -20px;
   -webkit-animation: movebounce1 4.0s linear infinite;
   animation: movebounce1 4.0s linear infinite;
   
 }
 .anomation2{
  z-index: -5;
  opacity: 0.3;
  overflow: hidden;
  position: absolute;
  bottom:  10px;
  right: -20px;
  -webkit-animation: movebounce1 4.0s linear infinite;
  animation: movebounce1 4.0s linear infinite;
  position: absolute;
  right:  20px;
 }
 @keyframes movebounce1{
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(20px);
  }
  0%{
    transform: translateX(0px);
  }
 }
@media (max-width:650px) 
{
  .anomation1{
    width: 150px;
  }
}